/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-attachment: fixed;
    background-image:
        repeating-linear-gradient(
            to right,
            #d3d3d3 0px,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            to bottom,
            #d3d3d3 0px,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            #e7e7e7 0%,
            #e7e7e7 0.01%,
            #1a1a1a 100%
        );
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-block-start: 100px;
  margin-block-end: 100px;
  width: 700px;
  height: fit-content;
}

.header__title {
  font-family: var(--font-family-accent);
  font-size: 65px;
  font-weight: var(--font-weight-body);
  text-transform: uppercase;
  margin-block-start: 128px;
}

.header__subtitle {
  font-family: var(--font-family-accent);
  font-size: 23px;
  font-weight: var(--font-weight-body);
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 128px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.main__card {
  width: 700px;
  border: 2px solid black;
  background-color: var(--color-primary);
}

.main__card-title {
  display: block;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-heading);
  margin: 3px auto 3px 10px;
}

.main__card-image {
  width: 100%;
}

.main__card-image-wrapper {
  position: relative;
}

.main__card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.main__card-label {
  text-shadow: 
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .main__card-label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.main__card-description {
  margin-block-start: 25px;
  margin-inline-start: 25px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

.main__card-buttons {
  display: flex;
  gap: 12px;
  margin: 25px 25px 25px 0;
  justify-self: flex-end;
}

.card__icon-button {
  outline: none;
  background-color: var(--color-primary);
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__icon {
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible .card__icon {
  border-color: black;
}

.card__like-button {
  border: 2px solid black;
  background-color: var(--color-primary);
  padding: 12.5px 37px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__like-button:hover {
  color: white;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
}

.card__like-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::after {
  left: 0;
}

.button__text {
  position: relative;
  z-index: 5;
}

.main article:last-child {
  margin-block-end: 50px;
}

.save-button {
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  background-color: var(--color-primary);
  font-family: var(--font-family-accent);
  font-size: 14px;
  padding: 18.5px 21px 21px 19px;
  margin-bottom: 105px;
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  cursor: pointer;
}

.save-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
}

.save-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transition: left 0.5s ease-in-out;
  z-index: 0;
}

.save-button-icon,
.button__text {
  position: relative;
  z-index: 1;
}

.save-button:hover {
  color: var(--color-primary);
}

.save-button:hover::after {
  left: 0;
}

.save-button-icon {
  width: 21px;
  height: 21px;
}

.save-dialog {
  border: 2px solid black;
  padding: 0;
  width: 357px;
  height: 195px;
  background: var(--color-primary);
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save-dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.save-dialog__content {
  display: flex;
  align-items: center;
  margin-block-start: 30px;
  margin-inline: 30px;
  gap: 20px;
}

.save-dialog__icon {
  width: 39px;
  height: 39px;
}

.save-dialog__icon-svg {
  width: 100%;
  height: 100%;
}

.save-dialog__title {
  font-family: var(--font-family-accent);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 150%;
  width: 235px;
}

.save-dialog__button {
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  background: var(--color-primary);
  font-family: var(--font-family-accent);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  padding: 12.5px 132.5px;
  align-self: center;
}

.save-dialog__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transition: left 0.5s ease-in-out;
  z-index: 0;
}

.save-dialog__button:hover {
  color: white;
}

.save-dialog__button:hover::after {
  left: 0;
}

.save-dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
}