:root {
    --font-family-base: 'Inter';
    --font-family-accent: 'Press Start';
    --font-weight-heading: 700;
    --font-size-base: 18px;
    --font-weight-body: 400;
    --text-color-heading: black;
    --text-color-body: black;
    --color-primary: white;
    --color-accent: black;
    --text-color-accent: white;
    --stroke-color: white;
    
    --content-width: clamp(23.4375rem, 16.3732rem + 30.1408vi, 43.75rem);
    --header-margin-block: clamp(6.25rem, 7.1479rem + -1.1268vi, 6.25rem);
    --header-padding-block: clamp(7.5rem, 7.1479rem + 1.5493vi, 8rem);
    --header-title-size: clamp(2.5rem, 1.9577rem + 2.3169vi, 4.0625rem);
    --header-subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vi, 1.4375rem);
    --card-gap: clamp(3.125rem, 2.5915rem + 2.2768vi, 3.25rem);
    --card-padding: clamp(1.5625rem, 1.3521rem + 0.8978vi, 1.5625rem);
    --label-position: clamp(0.6875rem, 0.3169rem + 1.5807vi, 1.5625rem);
    --button-margin-bottom: clamp(6.4375rem, 6.3404rem + 0.4146vi, 6.5625rem);
    
    --save-button-width: clamp(19.125rem, 18.4868rem + 2.7230vi, 20.9375rem);
    --save-button-padding-block: clamp(0.9375rem, 0.7104rem + 0.9691vi, 1.5625rem);
    --save-button-icon-size: clamp(1.3125rem, 1.1875rem + 0.5333vi, 1.75rem);

    --dialog-width: clamp(21.3125rem, 20.9604rem + 1.5023vi, 22.3125rem);
    --dialog-padding-block: 30px;
    --dialog-padding-inline: clamp(1.875rem, 3.1831rem + -2.3803vi, 2.625rem);
    --dialog-icon-size: 39px;
    --dialog-gap: 30px;

    --contour-color: black;
    --animation-fill-color: red;
}